{% extends 'base.html' %}

<title>{% block title %}Play - YCulture{% endblock %}</title>

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'play/css/play.css' %}">

    <div class="game">
        <div id="questions">
            <h2>Combien de temps faut-il à la Terre pour effectuer une révolution autour du soleil ?{{ value }}</h2>
            <div id="timer"><span id="countdown"></span></div>
            <form action="/submit_answer" method="post" role="form" aria-label="Sélectionner une durée en jours">
                <ul class="button-list">
                    <li><button type="submit" name="answer" value="365 jours" role="button" aria-label="365 jours">365 jours</button></li>
                    <li><button type="submit" name="answer" value="365.25 jours" role="button" aria-label="365.25 jours">365.25 jours</button></li>
                    <li><button type="submit" name="answer" value="365.5 jours" role="button" aria-label="365.5 jours">365.5 jours</button></li>
                    <li><button type="submit" name="answer" value="366 jours" role="button" aria-label="366 jours">366 jours</button></li>
                </ul>
            </form>
        </div>
    </div>

    <script src="{% static 'play/js/timer.js' %}"></script>
{% endblock %}
