{% extends 'base.html' %}

{% block content %}

    <h1>Connexion</h1>
    <form method="POST" role="form">
        {% csrf_token %}
        <p>
            <label for="username">Pseudo</label>
            <input type="text" name="username" id="username" aria-label="Pseudo" role="textbox">
        </p>
        <p>
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" aria-label="Mot de passe" role="textbox">
        </p>
        <button type="submit" role="button">Connexion</button>
    </form>

{% endblock %}
