{% extends 'base.html' %}

<title>{% block title %}YCulture - S'inscrire{% endblock %}</title>

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}">

    <a href="{% url 'index' %}" aria-label="Retour" role="link">Retour</a>

    <div class="base">
        <h1>S'inscrire</h1>
        <form method="POST" role="form">
            {% csrf_token %}
            <p>
                <label for="username">Pseudo</label>
                <input type="text" name="username" id="username" aria-label="Pseudo" role="textbox">
            </p>
            <p>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" aria-label="Adresse email" role="textbox">
            </p>
            <p>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" aria-label="Mot de passe" role="textbox">
            </p>
            <button type="submit" role="button" aria-label="S'inscrire">S'inscrire</button>
            <small>
                Tu as déjà un compte ?
                <a href="{% url 'login' %}" aria-label="Connexion" role="link">Connexion</a>
            </small>
        </form>
    </div>
{% endblock %}
