{% extends 'base.html' %}

<title>{% block title %}YCulture - S'inscrire{% endblock %}</title>

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}">

    <div class="base">
        <h1>S'inscrire</h1>
        <form method="POST" role="form">
            {% csrf_token %}
            <ul>
                <li>
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" name="username" id="username" placeholder="Nom d'utilisateur" aria-label="Nom d'utilisateur" role="textbox">
                </li>
                <li>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Adresse e-mail" aria-label="Adresse email" role="textbox">
                </li>
                <li>
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" placeholder="Mot de passe" aria-label="Mot de passe" role="textbox">
                </li>
            </ul>
            <button type="submit" role="button" aria-label="S'inscrire">S'inscrire</button>
            <small>
                Tu as déjà un compte ?
                <a href="{% url 'login' %}" aria-label="Connexion" role="link">Connexion</a>
            </small>
        </form>
    </div>
{% endblock %}
