.base {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Heavitas', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    margin-bottom: 15px;
}

li:first-child {
    display: flex;
    flex-direction: column;
}
