.game {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

#chat .background {
    background-color: var(--background-color);
    height: 86px;
}

#chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    height: 100vh;
}

#chat .chat-input {
    margin: 15px 15px;
}

#chat .chat-input input {
    width: 250px;
    height: 45px;
    border: 0;
    border-radius: 5px;
    padding: 0;
    background-color: #4c4f56;
    font-size: 0.9em;
    padding-left: 15px;
    color: white;
}

#chat .chat-input button {
    width: 75px;
    padding: 15px 0px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    margin-left: 5px;
    background-color: var(--action-color);
    color: white;
}

#chat .chat-input button:hover {
    color: rgb(220, 220, 220);
    background-color: var(--hover-action-color);
}

#chat .chat-input button:active {
    color: rgb(220, 220, 220);
    background-color: var(--active-action-color);
}





#questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 100vh;
    background-color: #404248;
}

#questions ul {
    display: flex;
    flex-direction: column;
}

#questions h2 {
    font-family: 'Heavitas', sans-serif;
    margin: 35px 50px;
    text-align: center;
}

#questions ul {
    width: 35vw;
}

#questions button {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    background-color: #60646d;
    color: white;
}

#questions button:hover {
    background-color: var(--hover-action-color);
    color: rgb(237, 237, 237);
}

#questions button:active {
    background-color: var(--active-action-color);
    color: rgb(214, 214, 214);
}

#questions #timer {

    font-family: 'Heavitas', sans-serif;
    font-size: 3em;
    margin-bottom: 35px;
}
