{% extends "base.html" %}

<title>{% block title %}Réinitialisation de mot de passe - YCulture{% endblock %}</title>

{% block content %}
    <h2>Réinitialiser votre mot de passe</h2>
    <p>Entrez l'adresse e-mail avec laquelle vous vous êtes inscrit et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
    <form method="post">
        {% csrf_token %}
        {% if form.email.errors %}
            {% for error in form.email.errors %}
            <p class="alert alert-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <p>{{ form.email.label_tag }} {{ form.email }}</p>
        <ul>
            <li><button type="submit" aria-label="Soumettre" role="button">Soumettre</button></li>
            <li>ou</li>
            <li><a href="{% url 'login' %}" aria-label="Se connecter" role="link">Se connecter</a></li>
        </ul>
    </form>
{% endblock %}
