{% extends 'base.html' %}

<title>{% block title %}Accueil - YCulture{% endblock %}</title>

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/index.css' %}">

    <div class="navbar">
        <a href="{% url 'index' %}" style="font-family: 'Narnia', sans-serif; font-size: 1.75em;" aria-label="Accueil" role="link">YCulture</a>
        <ul>
            {% if user.is_authenticated %}
                <li>{{ user.username }}</li>
                <li><a href="{% url 'logout' %}" aria-label="Déconnexion" role="link">Déconnexion</a></li>
                
            {% elif request.path == '/' %}
                <li><a href="{% url 'login' %}" class="connexion" aria-label="Connexion" role="link">Connexion</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="play">
        <h1>IMAGINEZ UN JEU . . .</h1>
        <p>...où cinq participants, lors de 4 manches successives, doivent répondre à des questions de culture générale dans diverses catégories. Le concurrent le moins performant est éliminé à la fin de chaque manche et le gagnant est le candidat remportant la dernière manche.</p>
        <form action="{% url 'play' %}" method="post">
            {% csrf_token %}
            <button type="submit">play</button>
        </form>
    </div>
    <div class="leaderboard">
    <h2>leaderboard</h2>
    <ul>
        {% for player in players %}
            <li>{{ player.username }} - Points : {{ player.point }}        ,</li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}
