body {
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-family: 'Heavitas', sans-serif;
    margin-top: 10vh;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    max-width: 100%;
    width: 100vw;
    height: 10vh;
}

.navbar li a {
    display: flex;
    align-items: center;
}

.navbar li a img {
    margin-left: 25px;
}

.navbar li a p {
    font-size: 25px;
}

.navbar li img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.navbar:first-child {
    font-family: 'Narnia', sans-serif;
}

.navbar .connexion {
    text-decoration: none;
    padding: 15px 20px;
    color: #000000;
    font-family: 'Heavitas', sans-serif;
    background-color: white;
    border-radius: 25px;
    font-weight: 700;
    font-size: 0.75em;
}

.navbar .connexion:hover {
    background-color: #e0e0e0;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar .connexion:active {
    background-color: #a4a4a4;
}





.play {
    max-width: 100%;
    height: 70vh;
    background-color: #4c4f56;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play h1 {
    margin-top: 75px;
}

.play p {
    width: 40vw;
    text-align: center;
}

.play a {
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Heavitas', sans-serif;
    background-color: var(--action-color);
    border-radius: 10px;
}

.play form button {
    width: 250px;
    height: 75px;
    background-color: var(--action-color);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    color: white;
    margin-top: 25px;
}

.play form button:hover {
    background-color: var(--hover-action-color);
    color: white;
}

.play form button:active {
    background-color: var(--active-action-color);
    color: white;
}

.add-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}

.add-questions a {
    margin-top: 10px;
    border: 2px solid var(--action-color);
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1.25em;
}

.add-questions a:hover {
    border: 2px solid var(--hover-action-color);
}

.add-questions a:active {
    border: 2px solid var(--active-action-color);
}
